body{
    color:azure;
    background:rgb(187, 115, 179);
    
}

.heading{
    width:80%;
    font-size:22px;
}

.name_of_object,#result_object_name{
    color:rgb(26, 72, 180);

}

#camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}